@import '../../styles/styles.scss';

.Burger{
  font-size: $m-size;
  font-weight: bold;
  height: 200px;
  margin: 0 auto 0 auto;
  overflow-y: scroll;
  text-align: center;
  width: 85%;
}

// portrait devices -> tall devices
@media (min-width: 500px) and (min-height: 400px){
  .Burger{
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px){
  .Burger{
    width: 380px;
    height: 250px;
  }
}

// desktop
@media (min-width: 1000px) and (min-height: 700px){
  .Burger{
    width: 500px;
    height: 380px;
  }
}
