.ContactData{
  margin: 1rem auto;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 1rem;
}

.ContactData .heading{
  color: white;
}

.ContactData input{
  display: block;
}

@media (min-width: 600px){
  .ContactData{
    width: 500px;
  }
}