// colors
$primary: #363062;
$secondary: #4d4c7d;
$tertiary: #827397;
$quaternary: #d8b9c3;


// font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;